<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matchmaking.backend.mapper.ResumeMapper">


    <insert id="createResume" >
        insert into jobSeeker(first_name,last_name,gender,phone,date_of_birth,school_name,
                              major,educational_background,skill,location,statement,wanted_industry,job_type,
                              expected_salary,account_id)
                              values(#{firstName},#{lastName},#{gender},#{phone},#{dateOfBirth},#{schoolName},
                                     #{major},#{educationalBackground},#{skill},#{location},#{statement},#{wantedIndustry},
                                     #{jobType},#{expectedSalary},#{accountId})
    </insert>

    <select id="getResumeByAccountId" resultType="com.matchmaking.backend.entity.Resume">
        select * from jobSeeker where account_id = #{accountId}
    </select>

    <update id="updateResume" parameterType="com.matchmaking.backend.entity.Resume">
        update jobSeeker set  first_name=#{firstName}, last_name=#{lastName}, gender=#{gender},phone=#{phone},date_of_birth=#{dateOfBirth},
                             school_name=#{schoolName},major=#{major},educational_background=#{educationalBackground},skill=#{skill},
                             location=#{location},statement=#{statement},wanted_industry=#{wantedIndustry},job_type=#{jobType}
                             ,expected_salary=#{expectedSalary},account_id=#{accountId} where seeker_id=#{seekerId}
    </update>

    <select id="getAllResume" resultType="com.matchmaking.backend.entity.Resume">
        select * from jobSeeker
    </select>

    <select id="getResumeById" resultType="com.matchmaking.backend.entity.Resume">
        select * from jobseeker where seeker_id = #{seekerId}
    </select>
</mapper>